.character {
  background-color: #00552e;
  color: #FFF;
  width: 240px;
  border-radius: 15px;
  padding: 10px;
  padding-top: 5px;
}

.character__name {
  margin: 0px;
  margin-right: 10px;
  font-size: 25px;
}

.character__rarity {
  right: 10px;
  height: 25px;
}

.hansi {
  background-color: #FFF;
  color: #000;
  border-radius: 10px;
  padding: 5px;
  margin-top: 5px;
}

.order {
  text-align: center;
}

.material {
  height: 40px;
  position: relative;
}

.material__img {
  margin-left: 8px;
  margin-right: 20px;
}

.material__quantity {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.material__quantity_red {
  color: #ff0000;
}

.material__buttonsection {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.material__button {
  border: solid 1px #949495;
  border-radius: 5px;
  margin-left: 3px;
  font-size: 14px;
  width: 25px;
  color: #949495;
}

.material__button:hover {
  background: #949495;
  color: white;
}

.satori {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.satori__button {
  border: solid 1px #949495;
  border-radius: 5px;
  margin-left: 3px;
  font-size: 14px;
  width: 150px;
  color: #949495;
  display: block;
  margin: auto;
}

.satori__button:hover {
  background: #949495;
  color: white;
}
