.character {
  background-color: #00552e;
  color: #FFF;
  width: 250px;
  border-radius: 15px;
  padding: 10px;
}

.character__name {
  margin: 0px;
}

.hansi {
  background-color: #FFF;
  color: #000;
  border-radius: 10px;
  padding: 5px;
}

.order {
  text-align: center;
}

.material {
  height: 40px;
  position: relative;
}

.material__img {
  margin-left: 8px;
  margin-right: 20px;
}

.material__quantity {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
